<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>

<form action="/verifyLogin" name="loginfrom" accept-charset="utf-8" method="post">
    <label class="label-tips" for="u">Account:</label>
    <input type="text" id="u" name="username" class="inputstyle"/>
    <div>
        <label class="lable-tips" for="password">Password:</label>
        <input type="password" id="password" name="password" class="inputstyle" />
    </div>
    <input type="submit" Value="Login"/>
</form>
</body>
</html>